.alarm {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.button-picker{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.timers-list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}